@import url('https://fonts.googleapis.com/css?family=Playfair+Display:900,900i|Roboto:300,300i');

html { font-size: 62.5%; }
html, body { height: 100%; }

.container {
	display: grid;
	grid-template-columns: 1fr 300px 520px 1fr;
	grid-template-rows: 80px 1fr 80px;
	grid-column-gap: 5rem;
	justify-content: center;
	height: 100%;
}

header { 
	grid-column: span 4; 
	grid-row: 1;
	display: grid;
	place-items: center;
	background-color: tomato;
}

.hey { 
	font-family: 'Playfair Display', serif;
	font-size: 3.6rem;
	color: white; 
}

aside {
	grid-column: 2;
	grid-row: 2;
	align-self: center;
}

img { 
	border-radius: 300px;
	height: 300px;
	width: 300px; 
}

.caption {
	margin-top: 1rem;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-size: 1.6rem;
	font-weight: bold;
	text-transform: uppercase;
	color: tomato;
}

article { 
	grid-column: 3; 
	grid-row: 2;
	display: grid;
	place-content: center;
	font-family: 'Roboto', sans-serif;
	font-size: 2.4rem;
	color: tomato;
}

p { line-height: 1.5; }

.keyword {
	padding-left: .5rem;
	padding-right: .5rem;
	font-style: italic;
	background-color: tomato;
	color: white;
}

footer {
	grid-column: span 4;
	grid-row: 3;
	background-color: tomato;
	padding-left: 2rem;
	padding-right: 2rem;
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;
	font-family: 'Roboto', sans-serif;
	font-size: 1.4rem;
	color: white;
}

i {
	margin-right: 2rem;
	font-size: 2.4rem;
}