$page-bg-color: #F5F5F5;
$header-bg-color: rgba(255,255,255,0.15);
$article-bg-color: rgba(255,255,255,0.15);
$nav-bg-color: rgba(255,255,255,0.35);
$footer-bg-color: rgba(255,255,255,0.15);

$body-text-font: 'Roboto Mono', monospace;
$header-font: 'Rubik', sans-serif;
$body-text-color: #fff7f7;
$header-color: #e8d5d6;
$link-color: #b24349;
$link-hover-color: mistyrose;

$global-padding: 2rem;

$warm-flame: linear-gradient(45deg, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%);