@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,400i,700,700i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Rubik:400,500&display=swap');

@import 'reset';
@import 'variables';
@import 'type';
@import 'summary';

html, body { height: 100%; }

body { 
	background-image: $warm-flame;
	background-attachment: fixed;
	display: grid;
	grid-template-rows: 100px 50px 1fr 100px;
	grid-template-columns: 1fr 900px 1fr;
	grid-template-areas: "header header header"
						 "nav nav nav"
						 ". article ."
						 "footer footer footer";
	justify-content: center;
}

header { 
	grid-area: header;
	display: flex; 
	justify-content: center;
	align-items: center;
}

.logo { 
	color: $logo-color;
	font-size: 2.4rem; 
	font-weight: 700;
}

nav {
	grid-area: nav;
	display: flex; 
	justify-content: center;
}

.nav-link {
	padding: 0 $global-padding;
	color: $body-text-color;
	font-size: 1.8rem; 
}

article { 
	grid-area: article; 
	padding: 4rem;
}

.home {
	p { font-size: 2.4rem; }
}

.single { 
	background-color: $article-bg-color; 
	margin-bottom: 8rem;
	border-radius: 10px;

	.front-matter {
		padding: 1rem 0;

		hr {
			width: 2rem;
			margin: 1rem 0 1rem;
			border-top: 1px solid $body-text-color;
			border-bottom: 0;
			border-right: 0;
			border-left: 0;
		}
	}
}

.list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-start;
	align-content: flex-start;
}

footer { 
	grid-area: footer;
	display: grid;
	grid-template-columns: 1fr repeat(3, 300px) 1fr;
	grid-template-areas: ". copyright credits social .";
	align-items: center;
	background-color: $footer-bg-color;

	div { 
		font-size: 1.4rem; 
		justify-self: center;
	}
	i { font-size: 1.8rem; }

	.copyright { grid-area: copyright; }
	.credits { grid-area: credits; }
	.social { grid-area: social; }
}